:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --branding-color: #f9f7fe;
  --box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 400px) {
  .name,
  .about-me,
  .contact {
    font-size: 50px !important;
  }
  .hero {
    background-color: var(--branding-colors);
  }
  .mail {
    font-size: 15px !important;
  }

  .container-fluid {
    margin-left: 10px !important;
    margin-right: 25px !important;
  }
}
@media (min-width: 768px) {
  body {
    padding: 20px !important;
  }
}
body {
  display: block;
  padding: 5px;
  margin: 5px;
  max-width: 100%;
}

@media (max-width: 300px) {
  .container-fluid {
    margin-left: 5px !important;
  }
}
.container-fluid {
  margin-left: 95px;
}
.name {
  margin-top: 0;
  margin-bottom: 20px;
}
h1 {
  font-size: 90px;
  text-align: center;
  margin-top: 80px;
}
h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px;
  margin-top: 55px;
  margin-bottom: 0;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 8px;
  opacity: 0.7;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #6610f2;
}
.about-me {
  margin-top: 70px;
}
p {
  margin: 10px;
  border: 20px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.homepage {
  display: block;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 0px;
}
#contact {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 70px;
}
a {
  display: block;
  padding: 10px;
  text-align: center;
}
.mail {
  color: var(--primary-color);
  font-size: 22px;
  text-decoration: none;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact-link {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
  margin: 20px;
  color: white;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border-radius: 3px;
  text-decoration: none;
  padding: 20px 15px;
}
.about-link {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
  margin: 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 20px 15px;
  border-radius: 3px;
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: auto;
}
img {
  font-size: 156px;
}
.chersonese-app {
  margin-top: -20px;
}
